

body{
  font-family: "Hahmlet", serif;
  margin: 40px;
  background-image: url(https://images.pexels.com/photos/296234/pexels-photo-296234.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  
  

} 


hr{
  width: 20%;
  border-color: rgb(173, 173, 221);
  border-width: 1px;

  
}

ul{
margin: 0;
padding: 0;

}
li{
list-style-type: none;

}


a{
  color: rgb(156, 155, 155);
  text-decoration: none;

}

a:hover{
  color: rgb(63, 63, 63);
  text-decoration: none;
  cursor: default;
}

.App {
  text-align: center;
}

.container-box{
   width: 40%;
   margin: 0 auto;

}


.search-bar{

  display: block;
  margin: 0 auto;
}

.search-city{

  color: rgb(156, 155, 155);
  background-color: white;
  border-color: rgb(196, 194, 194);
  border-style: solid;
  border-radius: 30px;
  padding: 10px 40px;
  margin: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.location-search-button{
  height: 20%;
  color: rgb(156, 155, 155);
  background-color: white;
  border-color: rgb(196, 194, 194);
  border-style: solid;
  border-width: 1 px;
  border-radius: 30px;
  padding: 10px 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

}


.current-location-btn{
  color: rgba(255, 255, 255, 0.815);
  background-color: rgba(128, 128, 128, 0);
  border-color: rgb(255, 234, 234);
  border-style: solid;
  border-width: 1 px;
  border-radius: 30px;
  padding: 5px 5px;
  margin: 0px  auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}



/*current weather */

.current-weather-box{

  background-color: rgba(174, 205, 212, 0.658);
  background-size: cover;
  margin: 10px auto;
  padding: 30px 20px 20px 20px;
  border-style: solid;
  border-radius: 30px;
  border-width: 1px;
  color: black;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  
}


.searched-city{
  font-size: 50px;
  font-weight: lighter;
  text-align: center;

}

.last_updated{
  font-size: 12px;
  margin-bottom: 4px;
}

.date-and-time{
margin: 1px;
font-size: 12px;
}



.current-temperature-total{
  font-size: 70px;
  font-weight: 500;
  padding: 0 0 0 40px;
  margin: 10px;

}



.weather-description{
  padding: 0;
  margin: 0;

}

.weather-description::first-letter{
  text-transform: capitalize;
}

.metric-switch{
  margin-bottom: 50px;
  margin-right: 10px;
  


}



/*weather forecast */

.weather-forecast-box{
  text-align: center;
  margin: 30px auto;   



}

.weather-forecast-day{
 
  background-color: rgba(185, 234, 255, 0.9);
  padding: 15px 15px;
  margin: 20px;
  border: solid;
  border-color: rgb(156, 155, 155);
  border-width: 1px;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);


}


.weather-forecast-icon{
  width: 45px;

}

.weather-forecast-temperature{
  color: grey;
  text-shadow: -0.1px -0.1px 0 rgb(54, 53, 53), 0.1px -0.1px 0 rgb(54, 53, 53), -0.1px 0.1px 0 rgb(54, 53, 53), 0.1px 0.1px 0 rgb(54, 53, 53);
}


.weather-forecast-description{
  font-size: 14px;
  color: gray;
  text-shadow: -0.1px -0.1px 0 rgb(54, 53, 53), 0.1px -0.1px 0 rgb(54, 53, 53), -0.1px 0.1px 0 rgb(54, 53, 53), 0.1px 0.1px 0 rgb(54, 53, 53);
}
.weather-forecast-weekday{

  color: grey;
  text-shadow: -0.1px -0.1px 0 rgb(54, 53, 53), 0.1px -0.1px 0 rgb(54, 53, 53), -0.1px 0.1px 0 rgb(54, 53, 53), 0.1px 0.1px 0 rgb(54, 53, 53);
}


.impressum{
  color: grey;
  text-align: center;

}